#sidebar .sub input { 
    border: 2px solid #2196f3;
    font-size: 13px;
    margin: 4px 2px;
    padding: 5px 5px;
 }
 #sidebar .sub input[name="LSARO"] { 
  border: 0px ;
  font-size: 13px;
  margin: 4px 2px;
  padding: 5px 5px;
}



 #sidebar .sub button {
  border: none;
  color: rgb(250, 0, 0);
  background-color: #2196f3;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
#sidebar .sub button:hover {
  background-color:  rgb(250, 0, 0);
  color: #2196f3;
}
#sidebar .sub h6 {
      padding: 5px 20px;
      color: #888;
      font-size: 13px; }
      